# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
.vs
x64/
CombattantsQT/x64/
CombattantModelsInModels/x64/
*.user
*.tlog

# Visual Code
build/

# Python
__pycache__
*.pyc
